.sidebar-nav {
	width: 80%;
	margin-top: 50px;
	height: 100%;
}

.sidebar-nav ul {
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
	padding: 0;
}

.sidebar-nav ul li {
	width: 100%;
}

.sidebar-nav ul li:last-child {
	margin-top: 50px;
}

.sidebar-nav ul li a {
	display: flex;
    align-items: center;
    white-space: nowrap;
	text-decoration: none;
	border-radius: 10px;
	color: inherit;
	padding: 10px;
	margin: 5px 0;
	font-size: 0.9rem;
}

.sidebar-nav ul li span {
	background-image: var(--theme-color-primary);
	color: var(--icon-color);
	padding: 5px;
	border-radius: var(--icon-border-radius);
	margin-right: 10px;
	font-size: 1.2rem;
}